# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

*.egg-info/
.installed.cfg
*.egg

*.manifest
*.spec

*.png

*.swo
*.swp

cmake-build-debug/

*__pycache__/
*build/
*install/
*log/
*vscode/